body {
	background-color: gray;
	background-image: url(https://ib1.hulu.com/show_key_art/22881?size=1600x600&region=US);
	background-size: 40%;
	background-repeat: no-repeat;
}

p {
	color: white;
	font-size: 18pt;
	font-family: arial;
}

#profilePicture {
	height: 500px;
	width: 400px;
	border-radius: 15px;
}

a:hover {
	color: green;
}

a {
	color: blue;
}
